
.speedDial {
  position: fixed;
  right: 3vmax;
  top: 21px;
}

.speedDialIcon {
  width: 55px;
  height: 55px;
  border-radius: 100%;
}

@media screen and (max-width: 1050px){
  .speedDial{
    top: 3vmax;
  }
}
